@model List<Mascota>
@using MvcNetCoreSession.Helpers
@using MvcNetCoreSession.Extensions
@{
    Mascota mascota = Context.Session.GetObject<Mascota>("MASCOTAOBJECT");
}
<h1>Ejemplos session</h1>
<h2 style="color:blue">
    @Context.Session.GetString("nombre")
</h2>
<h2 style="color:blue">
    @Context.Session.GetString("hora")
</h2>
<h2 style="color:red">
    @* @mascota.Nombre *@
</h2>
@if(Model!=null){
    <h1>Mascotas recuperadas: @Model.Count</h1>
}else{
    <h1>No tenemos mascotas en el helper</h1>
}
<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="EjemploSession" asp-action="SessionSimple">
            Session simple
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="EjemploSession" asp-action="SessionMascota">Mascota</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="EjemploSession" asp-action="SessionCollection">Collection</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="EjemploSession" asp-action="SessionMascotaJson">Mascota JSON</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="EjemploSession" asp-action="SessionMascotaObject">Mascota Object</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="EjemploSession" asp-action="SessionMascotaCollection">Mascota Colleccion</a>
    </li>
</ul>
